h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: black;
}

small {
  font-size: 15px;
}

// Navbar add

// color: black;
// border: none;
// font-size: 24px;
// margin: 20px;
// font-family: 'IBM Plex Sans', sans-serif;
// &:hover {
//   color: yellow;
// }
